body {
  width: 1024px;
  height: 600px;
}

.header {
  width: 1024px;
  height: 120px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.text-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
}

.label {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  left: 178px;
  top: 161px;
  width: 100%;
}

.cnm_btn {
  width: 178px;
  height: 60px;
  border-radius: 50px;
  border-color: #dddddd;
  position: absolute;
  left: 180px;
  top: 201px;
  color: #4a90e2;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
  background-color: white;
  font-weight: bold;
}

.cnm_btn:active {
  background-color: #dddddd;
  color: #2172d0;
}

.text-input {
  width: 370px;
  height: 60px;
  border-radius: 50px;
  position: absolute;
  left: 373px;
  top: 201px;
  outline: none;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid;
  border-color: #dddddd;
  background-color: #f8f8f8;
  text-align: center;
  color: #f8923b;
  font-weight: bold;
}

.text-input:active {
  border-color: #f8923b;
}
.text-input:target {
  border-color: #f8923b;
}
.text-input:focus {
  border-color: #f8923b;
}

::placeholder {
  opacity: 1;
  color: #999999;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.btn {
  width: 200px;
  height: 64px;
  border-radius: 50px;
  font-size: 24px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #f8923b;
  border-color: #ffc37e;
  outline: none;
  background-color: #f8f8f8;
}
.btn:active {
  background-color: #ffc37e;
  color: white;
  border: none;
}
.btn:focus {
  background-color: #ffc37e;
  color: white;
}
.btn:target {
  background-color: #ffc37e;
  color: white;
}
#btn_matrix {
  position: absolute;
  left: 25px;
  top: 280px;
}

#matrix td {
  padding: 20px;
}

.back_btn {
  position: absolute;
  left: 274px;
  top: 510px;
  outline: none;
}

.next_btn {
  position: absolute;
  left: 594.6px;
  top: 510px;
  outline: none;
  width: 155.4px;
  height: 50px;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: #ffb35c;
  border-color: #ffb35c;
  border: none;
}

.form-popup {
  display: none;
  width: 1024px;
  height: 326px;
  position: absolute;
  left: 0px;
  top: 274px;
  background-color: #fff2e2;
}

.btn-1 {
  width: 158px;
  height: 64px;
  border-radius: 50px;
  background-color: #fcfcfc;
  outline: none;
  border-color: #bbbbbb;
}

.btn-1:active {
  background-color: #ffc37e;
}
.btn-1:target {
  background-color: #ffc37e;
}
.btn-1:focus {
  background-color: #ffc37e;
}

#btn1-matrix {
  position: absolute;
  left: 15px;
  top: 20px;
}

#matrix1 td {
  padding: 19px;
}

.exit-popup {
  width: 179px;
  height: 50px;
  border-radius: 15px;
  background-color: #4a90e2;
  border: none;
  position: absolute;
  left: 412px;
  top: 150px;
  font-size: 18px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  outline: none;
}

.lb_sdt {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

#currency {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #7fbc37;
}
#vnd {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.circle {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: #71889d;
}

.textin_circle {
  position: absolute;
  top: 47%;
  left: 47%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 36px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#matrix-2 td {
  padding: 31px;
}

.label-1 {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}
